* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid #eee;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.logo-box {
  width: 18px;
  height: 18px;
  background: black;
  border-radius: 4px;
}

/* start btn */
.login-btn {
  padding: 8px 16px;
  border: 1px solid #000;
  background: transparent;
  cursor: pointer;
}
.login-btn:hover {
  background: #000;
  color: #fff;
}

/* end btn */

.navbar span {
  font-size: 2rem;
}

/* MAIN */
.main {
  height: 70vh;
  padding-left:30%;
  padding-right: 30%;
}

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex: 1;
}
.hero h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.hero p {
  font-size: 1.5rem;
  color: #555;
}


/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  border-top: 1px solid #eee;
  font-size: 14px;
}

.footer .links a {
  margin-left: 15px;
  text-decoration: none;
  color: #333;
}